@include media-max(xs){
    .deatil-page{
        .detail-single{
            .detail-img{
                position: relative;
                img{max-width: 100%; display: block;}
                a.icon{
                    position:absolute; top: 20px; left: 10px;
                    span{background-color: orange; color: #fff; padding: 3px;}
                } 
            }
            .detail-content{
                background-color: #eee; padding: 30px 10px; text-align: left;
                h1{margin-top: 30px; font-size: 26px; line-height: 1.5; text-align: left;}
                span{font-size: 14px; color: #ddd;}
                p{font-size: 16px; line-height: 1.5; margin-top: 30px;}
            }
            .how-it-work{
                padding: 10px;
                h6{font-size: 20px; margin: 20px 0;}
                ul{
                    li{
                        position: relative; padding: 10px 0;
                        i{color: green;}
                        span{padding-left: 10px;}
                    }
                }
            }
        }
    }
    .book-button{
        display: flex; padding: 0 20px; align-items: center; justify-content: space-between;
        .price-info{
            flex: 0 0 50%;
            .price{
                span{display: inline-block; padding-right: 10px; font-size: 18px; font-weight: 600;}
                s{font-size: 14px;}
            }
            p{
                margin-top: 10px;
            }
        }
        .book-btn{
            flex: 0 0 50%;
            .btn{padding: 20px; background-color: orange; color: #fff; border-radius: 30px; text-transform: uppercase; letter-spacing: 0.5px; font-size: 16px;}
        }
    }
}