footer.mobile-footer{
    background-color: $dark-color; height: 100vh;
    .mob-view{
        .card{
            border: 0; background-color: transparent;
            .card-header{
                a{font-size: px-to-rem(21); line-height: 24px;}
                &::after{font-size: px-to-rem(12);}
                &:last-child{
                    &::after{content: none  !important;}
                }
            }
            &.social-footer{
                .card-header{
                    display: flex; justify-content: space-between; align-items: center;
                    ul{
                        display: inline-flex; padding: 0; margin: 0;
                        li{
                            padding-right: 20px;
                            a{font-size: px-to-rem(25);}
                            &:last-child{padding-right: 0;}
                        }
                    }
                }
            }
        }
    }
    .footer-stay-in-touch{
        max-width: 1020px;margin: -50px auto auto;height: 250px;background-color: $white-color;
        border-radius: 10px 10px 0 0;text-align: center;
        h5 {padding-top: 70px;margin-top: 0;margin-bottom: 50px;font-size: 21px;font-weight: bold;letter-spacing: 0; line-height: 24px;color: $primary-color;}
        .form-field{
            input{text-align: center;}
        }
    }
    .footer-bottom{
        padding: 24px;font-size: px-to-rem(10);color: $white-color;background-color: $primary-color;text-align: center;box-shadow: 0 0 1px rgba(93, 14, 16, 0.07); line-height: 15px; position: absolute; left: 0; right: 0; width: 100%; height: 65px;
   }
}