@include media-max(xs){
    .home-banner{
        padding: 0;     background-color: #f5f5f5;

        .banner-img{
            background-image: url('/welcome-banner.png'); background-position: center; background-size: cover; height: 300px; position: relative;
            .banner-content{
                position: absolute; top: 50%; left: 0; right: 0;margin: auto; width: 100%; text-align: center; transform: translateY(-50%);
                h1{font-size: 22px; line-height: 1.5; color: #fff; font-weight: 900; }
                p{font-size: 14px; line-height: 1; color: #fff; margin: 10px 0;}
                button{ padding: 10px 30px; text-transform: uppercase; border-radius: 20px; border:1px solid #fff; color: #fff; text-transform: capitalize; font-weight: 700;}
            }
        }
    }
    .listing-content{
        padding: 20px 0;     background-color: #f5f5f5;

        .tab-list{
            display: flex;  justify-content: space-between; position: relative; margin-bottom: 40px;
            li{
                flex: 0 0 33.33%;
                a{color: #ddd;}
                &::after{content: ''; width: 100%; left: 0; right: 0; height: 2px; background-color: #eee; position: absolute; bottom: -20px;}
                &.active{
                    &::after{background-color: orange; width: 33.33%; transition: all 0.5s ease; z-index: 2;}
                }
            }
        }
        .content-listing{
            text-align: center;     background-color: #f5f5f5;

            h6{font-weight: 500; font-size: 16px; line-height: 1.5; margin-bottom: 10px; text-transform: capitalize;} 
            p{font-size: 14px; line-height: 1.2; text-transform: capitalize;}
        }
        .listing-grid{
            display: flex; margin: 30px 0; flex-wrap: wrap;     

            .single-content{
                flex: 0 0 50%; padding: 0 5px; margin-bottom: 20px;  
                .listing-img{
                    position: relative;
                    a{
                        img{max-width: 100%;}
                    }
                    a.icon{
                        position:absolute; top: 20px; left: 10px;
                        span{background-color: orange; color: #fff; padding: 3px;}
                    } 
                }
                .listing-content{
                    text-align: center;background-color: #fff;
                    h6{font-size: 18px; margin-bottom: 10px; }
                    p{font-size: 14px; line-height: 1.2; margin-bottom: 15px;}
                    .price-deatils{
                        s{color: #ddd;}
                        span{font-weight: 600; color: #232323; display: inline-block; padding-left: 20px;}
                    }
                }
            }
        }
    }
}