@include media-max(xs){
    .modal-dialog.custom-filter{
        .modal-content{
            .modal-header{
                display: block;
                .modal-title{
                    display: block; margin: 10px 0; font-size: 25px;
                }
                p{font-size: 14px; line-height: 1.5; letter-spacing: 1px;}
                .close{position: absolute; top: 10px; right: 10px;}
            }
            .modal-body{
                .filter-content{
                    .deal-box{
                        h6{font-size: 16px; margin-bottom: 10px;}
                        .single-deal{
                            display: flex; justify-content: space-between; align-items: center; padding: 10px; border: 1px solid #eee;
                            .deal-img{
                                flex: 0 0 30%;
                                img{max-width: 100%;}
                            }
                            .deal-content{
                                flex: 0 0 70%; padding-left: 10px;
                            }
                        }
                    }
                    .filter-form{
                        margin-top: 20px;
                        .checkin-input{
                            margin-bottom: 10px;
                            label{display: block; text-transform: capitalize;} 
                            input{display: block; width: 100%; margin-bottom: 5px; height: 45px; border: 1px solid #ddd;}
                        }
                        
                    }
                }
            }
            .modal-footer{
                button.cancel{padding: 15px 30px; background-color: #fff; border: 1px solid #ddd; color: #232323 ; border-radius: 20px;}
                button.continue{padding: 15px 30px; background-color:orangered; border: 1px solid #ddd; color: #fff ; border-radius: 20px;}
            }
        }
    }
}