@include media-max(xs){
    .slider{
        h4{font-size: 20px; margin: 10px 0; text-transform: uppercase; font-weight: 600; padding: 0;} 
        p{font-size: 16px; line-height: 1.5; margin-bottom: 20px;}
        .slider-wrap{
            display: flex; overflow: hidden;
            .single-slider{
                flex: 0 0 70%; position: relative;   padding: 0 5px;
                .silder-img{ 
                    a{
                        img{max-width: 100%;}
                    }
                    a.icon{
                        position:absolute; top: 20px; left: 10px;
                        span{background-color: orange; color: #fff; padding: 3px;}
                    } 
                }
                .slider-content{
                    position: absolute; left: 20px; bottom: 20px;
                    h6{font-size: 14px; color: #fff; display: block; margin-bottom: 10px;}
                    .price-deatils{
                        s{color: #232323; display: inline-block;}
                        span{font-weight: 600; color: #232323; display: inline-block; padding-left: 20px;}
                    }
                    
                }
                // &:nth-child(2){
                //     flex: 0 0 30%;
                // }
            }
        }
    }
}