@include media-max(xs){
    .thank-you{
        .thanks-content{
            text-align: center; background-color: #eee; padding: 10px 0 30px 0;
            h1{font-size: 30px; line-height: 1.5; margin: 20px;}
            p{line-height: 1.3; font-size: 14px; margin-bottom: 20px; color: #232323;}
            button{background-color: orange; color: #fff; font-size: 18px; border-radius: 20px; outline: none; padding: 20px; border: 0; text-transform: uppercase; font-size: 20px;}
        }
    }
}