// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}

// Scroll Reveal UX
.load-hidden {
  visibility: hidden;
}

button:disabled{opacity: 0.5; pointer-events: none;}
.table-responsive{display: inline-table;}