// MEDIA QUERY MANAGER
/*

0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components

*/
@mixin respond($breakpoint) {
  // Phone-xs
  @if $breakpoint == phone-xs {
    @media (max-width: 20em) {
      @content;
    } //0 - 320px
  }
  // Phone
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //0 - 600px
  }
  // Table small
  @if $breakpoint == tab-port-sm {
    @media (max-width: 48em) {
      @content;
    } //768px
  }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  // Table Landscape
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  // Big Desktop
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px +
  }
}


/*Mixins start*/
$media-breakpoints: ( xs: 767, sm: 1024, md: 1200, lg: 1600);
@mixin media-min( $sz: "xs") {
    $size: map-get($media-breakpoints, $sz);
    @media (min-width: #{$size}px) {
        @content;
    }
}

@mixin media-max( $sz: "xs") {
    $val: map-get($media-breakpoints, $sz);
    $size: $val - 0.02;
    @media (max-width: #{$size}px) {
        @content;
    }
}


// Border White Mixin
@mixin section-borders {
  border: 1.5rem solid #fff;
  border-top: 0;
  border-bottom: 0;
}

@mixin supportColorForIE11 { // Fall for text-gradient not supported in IE11
  color:$secondary-color;
  -webkit-text-fill-color:$secondary-color; // fallback
  @supports (-webkit-background-clip:text) or (background-clip:text) {
    background-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent; 
  }
}

@mixin supportIE11 { // Provide your basic styles to support IE11
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    @content;
  }
}


@mixin button{
  padding: 7px 22px; font-size: px-to-rem(20); background-color: $primary-color; color: $white-color; line-height: 27px; font-family: $body-font; border-radius: 4px; border: 1px solid $primary-color; outline: none;
  &::active, &::visited, &::focus{outline: none; border:0;}
}

@mixin CancleButton{
  padding: 7px 22px; font-size: px-to-rem(20); background-color: $white-color; color: $primary-color; line-height: 27px; font-family: $body-font; border-radius: 4px; border: 1px solid $primary-color;
}

@mixin dropdown{position: absolute; top: 0; left: 0; right: 0; max-width: 1280px; width: 100%; visibility: hidden; opacity: 0; transition: all 0.5s ease; background-color: $white-color;box-shadow: inset 0 20px 20px -20px #ddd;}

@mixin  dropdown-menu { border: 1px solid rgba(3,3,3,0.1); box-shadow: 0 5px 20px -2px rgba(195,197,212,0.57); padding: 20px; }

@mixin card-active-state {
  border: 1px solid rgba(158,29,32,0.5);
}

@mixin most-popular-indicator {
  position: absolute;
    right: 0;
    top: 15px;
    padding: 0 0.625rem 0 1.25rem;
    background-color: #182A52;
    color: $white-color;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.42rem;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-left: 10px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
}
