.footer {
  .footer-top {
    background-color: $blue;padding: 30px;padding-bottom: 100px;
    @include media-max(xs){padding: 10px;}
    * {color: #ffffff;font-size: px-to-rem(12);}
    h6 {
      padding-bottom: 5px; margin-bottom: 20px; font-weight: 700; position: relative; font-size: 16px; line-height: 22px;
      @include media-max(xs){text-align: left}
      &:after { content: "";position: absolute;bottom: 0;left: 0;width: 70px;height: 1px;background-color: $primary-color;
      }
      a {display: none;}
    }
    ul {
      li {margin-bottom: 20px;
       @include media-max(xs){text-align: left;}
     }
    }
    .social {
      margin-top: 120px;
      @include media-max(xs){margin-top: -105px; margin-bottom: 130px; display: flex; justify-content: flex-end;}
      .social-links {
        a {display: inline-block;margin-right: 20px;transform: none;
          i {font-size: 20px;}
        }
      }
    }
  }
  .footer-stay-in-touch {
    max-width: 1020px;margin: -70px auto auto;height: 250px;background-color: $white-color;
    border-radius: 10px 10px 0 0;text-align: center;
    h5 {padding-top: 70px;margin-top: 0;margin-bottom: 50px;font-size: 30px;font-weight: bold;letter-spacing: 0;
      line-height: 41px;color: $primary-color;
      // &.subscription-success {
      //   padding-top: 110px;
      //   i {margin-left: 20px;font-size: 30px;
      //   }
      // }
    }
    .form-field {
      max-width: 475px;margin: auto auto 40px;position: relative;
      .form-control {border-width: 0 0 1px 0;border-radius: 0;text-align: center;font-size: px-to-rem(20);
        &:focus {border-width: 0 0 1px 0;outline: transparent;box-shadow: none;}
      }
      a {
        position: absolute;top: 0;bottom: 0;right: 20px;margin: auto;height: 30px;padding: 7px 10px;color: $primary-color;
      }
    }
  }
  .footer-bottom {padding: 24px;font-size: px-to-rem(18);color: $white-color;background-color: $primary-color;text-align: center;box-shadow: 0 0 1px rgba(93, 14, 16, 0.07);
    @include media-max(xs){padding: 20px; line-height: 25px; font-size: px-to-rem(12);}
  }
}
