header{
    box-shadow: 32px 20px 108px -20px rgba(0, 0, 0, 0.07), 0 10px 34px -10px rgba(195, 197, 212, 0.57);background-color: white;width: 100%;z-index: 10000;top: 0;left: 0; animation: height2 0.3s; min-height: 143px;
    .navbar{
        flex-wrap:wrap;
        .navbar-brand{
            width: auto;
            img.logo{width: 120px;}
            img.logo-icon-only{width:45px; display: none;}
        }
        .mobile-harmbuger{
            display: none; opacity: 0; visibility: hidden;
            @include media-max(xs){display: block; visibility: hidden; opacity: 1;}
            a{
                display: block;
                i{font-size: px-to-rem(30); color: $primary-color; }
            }
        }
        .navbar-collapse{
            order:3; flex-basis: 100%; background-color: $white-color; 
            .navbar-nav.menus{
              flex-wrap: wrap;
              @include media-max(sm){justify-content: center;}
                .nav-item{
                    cursor: pointer;
                    .nav-link{
                        text-align: center;  font-size: px-to-rem(14);  transition: all 0.4s linear; color: $dark-color; font-weight: 600; padding-left: 20px; padding-right: 20px; transition: all .1s linear; 
                        span{
                            padding: 4px 5px 4px 4px; display: inline-block; object-fit: contain; transition: all .1s linear; border-radius: 50%;
                        }
                        &.active{
                            color: $primary-color;transition: all .1s linear;  font-weight: 700;
                            span{
                                svg{fill: $primary-color;}
                            }
                        }
                    }
                    .custom-menudropdown.megamenu{
                        @include dropdown(); top: calc(100% - 3px); padding: 40px 50px; margin-left: auto; margin-right: auto; z-index: 2; border: 1px solid rgba(0,0,0,.15); border-radius: 4px;
                        .custom-drop-link{
                            ul{
                                h6.list-header{color: #0d1730;  font-size: 14px; font-weight: 900; letter-spacing: 0.5px; line-height: 30px; text-transform: uppercase; height: 20px;
                                    &.ininvisible{visibility: hidden;}
                                }
                                hr{
                                    border: 0.79px solid rgba(3, 3, 3, 0.2);margin-top: 7px;margin-bottom: 20px;
                                    &.ininvisible{visibility: hidden;}
                                }
                                li{
                                    padding: 10px 0;
                                   a{
                                        font-size: 15px;letter-spacing: 0;line-height: 20px; color: $blue; transition: all .4s linear;
                                        &.active{color: $primary-color; font-weight: 700;}
                                        &:hover{color: $primary-color; transition: all .4s linear;}
                                    } 
                                }
                             }
                        }
                    }
                    &:hover{
                        .custom-menudropdown.megamenu{opacity: 1; visibility: visible;}
                    }
                }
            }
        }
        .navbar-nav.secondary-menu{ 
            align-self: flex-start;margin-top: 7px; min-width: 145px;
            
            li{
                a.nav-link{
                    font-size: px-to-rem(14); cursor: pointer; color: $dark-color; text-transform: capitalize; visibility: visible;opacity: 1; transition: all .4s linear;
                }
                .scrol-search{
                    visibility: hidden; opacity: 0; display: none; transition: all .4s linear;
                    img{max-width: 100%;  }
                }
                .custom-menudropdown.megamenu{
                    @include dropdown(); top: 20px; padding: 40px 50px; margin-left: auto; margin-right: auto; z-index: 2; border: 1px solid rgba(0,0,0,.15); border-radius: 4px; box-shadow: none;
                }
                &.custom-line{visibility: visible; opacity: 1; transition: all .1s linear;}
                &:hover{
                    .custom-menudropdown.megamenu{opacity: 1; display: block; visibility: visible;}
                }
                &.help-dropdown{
                    position: relative;
                    .dropdown-menu {
                      @include dropdown-menu;  
                      .close-button{position: absolute;right: 10px;
                        top: 4px;
                        color: $primary-color;
                        font-weight: 900;
                      }
                      li{
                        border-bottom: 1px solid #DBDBDB;
                        &:last-child{
                          border-bottom: 0;
                        }
                        &.opened-form{
                          border: 2px solid #DBDBDB;
                          border-radius: 7px;
                          margin-bottom: 5px;
                          padding-bottom: 5px;
                          .dropdown-item{
                            font-size: px-to-rem(18);
                            font-weight: 700;
                            i{
                              transform: rotateX(180deg);
                            }
                          }
                        }
                        .dropdown-item{
                          font-size: px-to-rem(14);
                          line-height: 1.75;
                          padding: 8px;
                          i{
                            float: right;
                            color: $primary-color;
                            padding: 3px 5px;
                            font-size: px-to-rem(18);
                          }
                        }
                        .form{
                          min-width: 350px;
                          padding: 0 8px;
                          .input-field {
                              margin-bottom: 0;
                          }
                          .btn-submit{
                            width: 111px;
                          }            
                        }
                        .callback-success{
                          min-width: 350px;
                          padding: 15px 8px;
                          text-align: center;
                          .image{
                            img{
                              width: 64px;
                            }
                          }
                          .message{
                            font-size: px-to-rem(14);
                            font-weight: bold;
                            line-height: 1.25;
                            margin: 15px 0  0 10px;
                          }
                        }
                      }
                    }
                    &.open{
                        .nav-link{
                            color: $primary-color;
                        }
                        .dropdown-menu{
                            display: none;
                        }
                    }
                  }
            }
        }
    }
    &.scrollheader{
        min-height: 87px;width: 100%;animation: height 0.3s;
        .navbar-collapse{
          order:inherit; flex-basis: auto;
          @include media-max(sm){order: 3;}
        }
        .navbar-nav.secondary-menu{
            align-self: center;
            @include media-max(sm){order: 2;}
            li{
                a.nav-link{
                    display: none; visibility: hidden;opacity: 0; transition: all .4s linear;
                }
                a.scrol-search{
                    visibility: visible; opacity: 1; display: block;transition: all .4s linear;
                    img{max-width: 100%;}
                }
                &.custom-line{visibility: hidden; opacity: 0; transition: all .1s linear;}
                
            }
        }
    }
    &.fixed-layout{position: fixed;}
}



@keyframes height {
  from { transform: translateX(-0%) translateY(-50%);}
  to { transform: translateX(-0%) translateY(-0%);}
}
@keyframes height2 {
  from { transform: translateX(-0%) translateY(-50%);min-height: 143px;}
  to { transform: translateX(-0%) translateY(-0%);min-height: 87px;}
}



