.master-dashboard{
  .main-content{
    padding-top: 65px; display: flex;
    aside{height: 100vh; position: absolute; top: 120px; overflow-y: scroll;}
    .main-body{width: calc(100% - 300px); margin-left: auto; padding:20px;}
  }
}