// card block start here
.card-holder {
    position: relative;
    height: 100%;
    @media (max-width: 992px) {
        padding-bottom: 1.5rem;
    }
    .card-holder-label {
        display: block;
        border: 1px solid rgba(178,193,206,0.46);
        border-radius: 6px;
        background-color: $white-color;
        box-shadow: 0 -2px 20px 0 rgba(0,0,0,0.07), 0 12px 24px -10px rgba(58,84,147,0.36);
        padding: 1.25rem 0.9375rem;
        height: 100%;
        margin: 0;
        cursor: pointer;
    }
    .title {
        display: block;
        font-size: px-to-rem(16);
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.125;
        color: $primary-color;
    }
    .data {
        display: block;
        margin-top: 0.9375rem;
        font-size: px-to-rem(16);
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1.125;
    }
    input {
        display: none;
    }
    input[type=radio]:checked + .card-holder-label {
        @include card-active-state;
        box-shadow: inset 2px -2px 10px 2px rgba(0,0,0,0.15), 0 -2px 20px 0 rgba(0,0,0,0.07);
    }
}

.cards-pills-holder {
    margin-top: 1rem;
    .card-holder {
        @media (max-width: 992px) {
            height: auto;
        }
    }
    .card-holder-label {
        padding: 0.625rem;
    }
    .title {
        color: $secondary-color;
        text-align: center;
    }
    
    input[type=radio]:checked + .card-holder-label {
        box-shadow: 0 -2px 20px 0 rgba(0,0,0,0.07), 0 12px 24px -10px rgba(58,84,147,0.36);
        .title{
          color: $primary-color;
        }
    }
}

.card-promotion-holder {
    margin-top: 1rem;
    .card-holder {
        margin-bottom: 0.9375rem;
        height: calc(100% - 15px);
        @media screen and (max-width: 992px) {
            margin-bottom: 0;
            height: auto;
        }
    }
    .card-holder-label {
        position: relative;
    }
}
