.chips{
    border: 1px solid #AAAAAA; text-align: center; border-radius: 17px; padding:  5px 10px; font-size: px-to-rem(12); line-height: 16px;  color: #030303; margin: 10px;
    i{opacity: 0; visibility: hidden; transition: all 0.5s ease; display: none; }
    &.required{color: #CC0000;}
    &.sucess{ 
        color: #030303; border-color: #5BD700;
        i{opacity: 1; visibility: visible; transition: all 0.5s ease; display: inline-block; color: #5BD700;}
    }
}