.custom-tabs{
    .nav-tabs{
        border-bottom: 0; padding: 0 35px; justify-content: space-between; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
        @include media-max(sm){padding: 0 10px;}
        .nav-item{
            flex: 0 0 20%; max-width: 20%; 
            @include media-max(sm){flex: 0 0 49%; max-width: 49%;}
            .nav-link{
                font-size: px-to-rem(18); line-height: 24px; color: #182A52; text-align: center; border-bottom: 2px solid transparent; line-height: 70px;  font-weight: bold;
                @include media-max(sm){white-space: nowrap;}
                &.active{border-color: transparent; border-bottom-color: $primary-color ; color: #9E1D20;}
                &:hover{border-color: transparent; border-bottom-color: $primary-color ;
                }
            }
        }
    }
    &.tabs-variation {
        max-width: 550px;
        margin: 0 auto;
        background-color: transparent;
        .nav-tabs {
            padding: 0;
            box-shadow: none;
            justify-content: space-between;
            .nav-item {
                flex: 0 0 25%;
                max-width: 25%;
                @include respond(phone) {
                    flex: 0 0 33%;
                    max-width: 33%;
                }
                .nav-link {
                    padding: 0;
                    font-size: px-to-rem(16);
                    line-height: 55px;
                    font-weight: normal;
                    &.active {
                        font-weight: bold;
                        background-color: transparent;
                    }
                    @include respond(phone) {
                        font-size: px-to-rem(12);
                    }
                }
            }
        }
    }
}
.company-broucher-content{
    
    // company documents start here
    .company-documents{
        .subtitle-list{
            .title{font-size: px-to-rem(30); line-height: 38px; text-align: left; color: #030303; margin: 40px 0; text-transform: capitalize;}
            .list-item{
                margin-bottom: 30px;padding-left: 40px;
                h6.subtitle{font-size: px-to-rem(22); font-weight: bold; letter-spacing: 0; line-height: 25px; margin-bottom: 8px;}
                ul{
                    li{
                        color: #182a52;font-size: px-to-rem(22);letter-spacing: 0.18px;line-height: 32px;
                        &::before{content: ""; width: 17px; height: 9px; display: inline-block; border-bottom: 2px solid #9E1D20; border-left: 2px solid #9E1D20; transform: rotateZ(-45deg); margin-right: 10px; position: relative; top: -4px;}
                    }
                }
            }
        }
        .note{font-size: px-to-rem(22); font-weight: bold; line-height: 25px;}
    }
}

.owners-business-content {
    padding: 1.25rem;
    background-color: $white-color;
    box-shadow: 32px 20px 108px -20px rgba(0,0,0,0.07), 0 10px 34px -10px rgba(195,197,212,0.57);
    @media(min-width: 1100px){
        padding: 40px;
    }
    .step-main {
        max-width: 930px;
        margin: 0 auto;
        text-align: center;
        .title {
            margin-top: 3.75rem;
            font-family: $secondary-font;
            font-size: px-to-rem(45);
            font-weight: 700;
            color: $dark;
            @include respond(tab-port-sm) {
                margin-top: 1.25rem;
                font-size: px-to-rem(18);
                text-align: left;
                line-height: 1.68;
            }
        }
        .input-field {
            max-width: 700px;
            margin: 2.5rem auto 3.4375rem;
            input {
                font-size: px-to-rem(24);
                color: $dark;
                border-width: 0 0 1px 0;
                outline: 0;
                text-align: center;
                border-radius: 0;
                @include respond(tab-port-sm) {
                    font-size: px-to-rem(14);
                    text-align: left;
                }
            }
        }
        .search-button {
            .btn-submit {
                @include button;
                padding: 0.625rem 2rem;
            }
        }
    }
}

/* Foreign Owners Component */
.request-consultation{
  .consultation-content{
    font-size: px-to-rem(20);
    line-height: 1.35;
    letter-spacing: 0;
    .title{
        font-family: $secondary-font;
        font-size: px-to-rem(30);
        line-height: 1.25;
        font-weight: bold;
        margin-bottom: 0.9375rem;
        color: $dark;
    }
    .description{
      margin-bottom: 1.875rem;
    }
    .label {
        font-weight: bold;
        margin-bottom: 0.9375rem;
    }
    .why-list{
        margin: 0;
        padding-left: 20px;
        li{
            list-style-type: disc;
            margin-bottom: 30px;
        }
    }
  }
  .consultation-form{
    border-radius: 6px;
    background-color: $white-color;
    box-shadow: 32px 20px 108px -20px rgba(0,0,0,0.07), 12px 0 12px 0 rgba(195,197,212,0.18), 0 10px 34px -10px rgba(195,197,212,0.57);
    padding: 3.125rem 1.5625rem;
    .form-inner{
      h4{
        font-size: px-to-rem(20);
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.25;
        text-align: center;
        font-family: $dark;
      }
      .actions{
        text-align: center;
        margin-top: 2.8125rem;
        .btn{
          @include button;
          padding: 0.625rem 2rem;
        }
      }
    }
  }
}
.foreign-main-page-selection {
    margin-top: 2rem;
    .actions{
        text-align: center;
        margin-top: 2.8125rem;
        .btn{
            @include button;
            padding: 0.625rem 2rem;
        }
    }
}

.subsidary-section {
    h2 {
        font-size: px-to-rem(28);
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 2.8125rem;
    }
    .actions{
        text-align: center;
        margin-top: 2.8125rem;
        .btn{
          @include button;
          padding: 0.625rem 2rem;
        }
    }
}
